
/* ==========================================================================
	$Header
========================================================================== */

#Lbanner{
	background-image: none;
	background-color: #E3CE9F;
	width: 100vw;
    margin-left: calc(-50vw + 50%);
	min-height: 400px;
}